html{
    margin: 0;
    height: 100vh;
    padding: 0;
    box-sizing: border-box;
    background-image:linear-gradient(#EEE8A9,#63a1b8 );
    font-size: 62.5%;
    font-family: 'Times New Roman', Times, serif;
}

.sobre-mi{
    padding:5px;
    /* background-color: #1581af3d; */
}
a{
    color: #63a1b8 ;
    font-weight: bold;
}

.container{
    font-size: 2rem;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    border: 2px solid #527f9b68;
    box-shadow: 5px 5px #527f9b68;
    background-color: #63a1b83c;
    padding:10px;
    margin: auto;
    text-align: center;
    max-width: 80%;

}
img{
    object-fit:contain;
    max-width: 60%;
    /* max-height: 350px; */
    
}
.btn{
    text-decoration: none;
    font-size: 1.7rem;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    padding: 5px 10px;
    border-radius: 5%;
    border: none;
    background-color: #EEE8A9;
    
}

@media only screen and (min-width: 800px){
    html{
        background-image:linear-gradient(#63a1b8,#EEE8A9 );
    }

    .container {
        display: flex;
        max-width: 800px;
        margin: auto;
    }

    .foto{
        align-items:center ;
    }

    .sobre-mi{
        display: flex;
        flex-direction: column;
        justify-content:center;
        text-align: justify;
        
    }
    a{
        width: 100px;
        align-self: flex-end;
        margin-top: 50px;
    }

    h3{
      align-self: center;  
    }

    img{
        
        max-width: 90%;
        
    }
    .btn{
        margin: auto;
    }
}